<h2 class="text-center">Реєстрація</h2>
<form role="form" class="form-inline" method="POST" action="/login/">
    <div class="form-group">
        <label for="email">Пошта</label>
        <input type="email" name="email" id="email" class="form-control" placeholder="Пошта"/>
    </div>
    <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Пароль" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Вхід</button>
        <button type="reset" class="btn btn-danger">Відмінити</button>
    </div>
</form>