<h2 class="text-center">Подати оголошення</h2>
<form method="POST" action="/publish/">
    <input type="hidden" name="adv_id" value="<%-item.adv_id%>"/>
    <div class="form-group">
        <label for="name">Тема оголошення</label>
        <input type="text" name="name" id="name" value="<%-item.name%>" class="form-control" />
    </div>
    <div class="form-group">
        <label for="text">Текст</label>
        <textarea name="text" id="text" class="form-control"><%-item.text%></textarea>
    </div>
    <div class="form-group">
        <label for="category_id">Катерогія</label>
        <select id="category_id" name="category_id" class="form-control">
            <option value="0">Без категорії</option>
            <%for(var k in list){%>
                <option value="<%-list[k].category_id%>" <%if(list[k].category_id==item.category_id){%>selected="selected"<%}%>>
                    <%-list[k].category_name%>
                </option>
            <%}%>
        </select>
    </div>
    <div class="row">
    <div class="col-xs-2">
        <label for="price">Ціна</label>
        <input type="number" name="price" id="price" min="0" step="10" value="<%-item.price%>" class="form-control" />
    </div>
        <div class="col-xs-2">
            <label for="currency_id">Валюта</label>
            <select id="currency_id" name="currency_id" class="form-control">
                <%for(var k in currencies){%>
                <option value="<%-currencies[k].currency_id%>">
                    <%-currencies[k].sign%>
                </option>
                <%}%>
            </select>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-success">Зберегти</button>
        <button type="reset" class="btn btn-danger">Відмінити</button>
    </div>
</form>